*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
:root{
    --app-primary-bg-color: #FFC017;
}
.logo{
    height: 25px;
}
.container-wrapper{
    max-width: 1920px;
    min-width: 0;
    width: 81%;
    margin: 0 64px;
}
.header-wrapper{
    padding: 18px 0;
}
.primary-color{
    color: var(--app-primary-bg-color);
}
.primary-bg{
    background-color: var(--app-primary-bg-color);
}
.navs{
    margin-right: 25px;
    display: inline;
}
.navs button{
    background-color: rgb(25, 25, 25);
    line-height: 20px;
    padding: 7px 16px 9px 16px ;
    color: #FFF;
}
.hv{
    padding-bottom: 76px;
}
.top-banner{
    width: 550px;
    padding: 93px 0px 92px;
}
.top-banner h2{
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 106px;
    letter-spacing: -0.05em;
    line-height: 95px;
    margin-bottom: 35px;
}
.top-banner h3{
    font-size: 24px;
    line-height: 24px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}
.top-banner .btn{
    background-color: rgb(25, 25, 25);
    line-height: 24px;
    padding: 7px 20px 9px;
    color: #FFF;
    font-size: 20px;
    width: 213px;
}